<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:<br>
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:<br>
<ol>
<li>Numpy</li>
<li>Pandas</li>
<li>Matplotlib</li>
<li>SciPy</li>
</ol

| Data Science Tools |
| ------------------ |
| Jupyter Notebook  |
| Weka              |
| Python            |
| Tableau           |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3><br>
<ol>
<li>2+2</li>
<li>2-2</li>
<li>2*2</li>
</ol>

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
<ul>
<li>List popular languages for Data Science</li>
<li>List  commonly used libraries used by Data Scientists</li>
<li>How to use Jupyter Notebook</li>

<h2>Author</h2><br>
Suchit Sainju